#one {
  
            background-color: Yellow;
            position: absolute;
            z-index: 1;
            top: 50px;
            left: 50px;
        }

        #two {
           background-color: Green; 
          position: absolute;
          top: 50px;
          left: 50px;
          z-index: 2; 
         
         }

        #three { 
          background-color: Brown;
          position: absolute;
          top: 50px;
          left: 50px;        
          z-index: 3; 
         

        }

        #four {
            background-color: Blue;
            position: absolute;
            top: 50px;
            left: 50px;
            z-index: 4;
            
        }

        #five {
            background-color: Red;
            position: absolute;
            top: 50px;
            left: 50px;
            z-index: 5;
            
        }
div {
  
  font-family: "Courier New", Courier;
  text-align: left;
  padding: 30px;
  height: 200px;
  width: 200px;
}